<section class="container criar-pensamentos ff-inter">
  <header class="header">
      <h2>Add a new <br> thought:</h2>
  </header>
  <form>
      <label for="pensamento">Thought</label>
      <input
        type="textarea"
        class="input"
        id="pensamento"
        name="pensamento"
        placeholder="Type something..."
        [(ngModel)]="newThought.content">

      <label for="autoria">Author</label>
      <input
        type="text"
        class="input"
        id="autoria"
        name="autoria"
        placeholder="Type the author"
        [(ngModel)]="newThought.author">

      <label for="modelo">Select a card layout:</label>
      <div class="container-radio">
          <div class="radio-modelo">
              <label for="modelo1">
                  <input
                      type="radio"
                      id="modelo1"
                      value="modelo1"
                      [(ngModel)]="newThought.layout"
                      name="modelo-card"
                  >
                  <div class="custom-radio">
                      <span></span>
                  </div>
                  <span>Layout 1</span>
              </label>
              <div class="modelo modelo1 ff-roboto-mono">
                <img src="../../../../assets/images/modelo1.png" alt="Double quotes icon">
                <p class="conteudo">{{ newThought.content }}</p>
                <p class="autoria"><b>{{ newThought.author }}</b></p>
              </div>
          </div>
          <div class="radio-modelo">
            <label for="modelo2">
                <input
                    type="radio"
                    id="modelo2"
                    value="modelo2"
                    [(ngModel)]="newThought.layout"
                    name="modelo-card"
                >
                <div class="custom-radio">
                    <span></span>
                </div>
                <span>Layout 2</span>
            </label>
            <div class="modelo modelo2 ff-roboto-mono">
              <img src="../../../../assets/images/modelo2.png" alt="Double quotes icon">
              <p class="conteudo">{{ newThought.content }}</p>
              <p class="autoria"><b>{{ newThought.author }}</b></p>
            </div>
          </div>
          <div class="radio-modelo">
            <label for="modelo3">
                <input
                    type="radio"
                    id="modelo3"
                    value="modelo3"
                    [(ngModel)]="newThought.layout"
                    name="modelo-card"
                >
                <div class="custom-radio">
                    <span></span>
                </div>
                <span>Layout 3</span>
            </label>
            <div class="modelo modelo3 ff-roboto-mono">
              <img src="../../../../assets/images/modelo3.png" alt="Double quotes icon">
              <p class="conteudo">{{ newThought.content }}</p>
              <p class="autoria"><b>{{ newThought.author }}</b></p>
            </div>
          </div>
        </div>
        <div class="acoes">
          <button class="botao" (click)="createThought()">Save</button>
          <button class="botao" (click)="cancel()">Cancel</button>
      </div>
  </form>
</section>
